.contact-form {
  &__wrapper {
    box-shadow: 0 22px 42px rgba($black, 0.2);
    padding: 43px 40px 3px;

    @include media-breakpoint-down(sm) {
      padding: 15px 37px 3px 38px;
    }
  }

  &__form {
    margin-bottom: 68px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 34px;
    }
  }

  &__submit {
    position: relative;

    @include media-breakpoint-down(sm) {
      margin-top: 12px;
    }

    &::after {
      content: url("../images/icons/chevron-right.svg");
      position: absolute;
      right: 36px;
      top: 28px;
    }
  }

  h5 {
    position: relative;
    margin-left: 40px;

    &::before {
      content: url("../images/icons/key.svg");
      position: absolute;
      width: 30px;
      left: -41px;
    }
  }

  .p-small {
    @include media-breakpoint-down(sm) {
      order: -1;
    }
  }
}

input:not([type="checkbox"]),
textarea {
  appearance: none !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 10px;
  border: 1px solid $border;
  width: 100%;
  font-family: $primaryfont;
  background-color: transparent;
  padding: 10px 25px;

  @include fontSize(18);
  @include lineHeight(22);
}

input {
  height: 74px;

  @include media-breakpoint-down(sm) {
    height: 60px;
    margin-bottom: 14px;
  }
}

textarea {
  max-height: 197px;

  @include media-breakpoint-down(sm) {
    min-height: 255px;
  }
}

input[type="submit"] {
  color: $white;
  background-color: $primarycolor;
  border-radius: 40px;
  border: none;
  height: 80px;
  min-width: 246px;
  font-weight: 300;
  font-family: $primaryfont;
  text-align: left;
  padding: 0 33px;

  @include fontSize(20);
  @include lineHeight(23);

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

label {
  color: $text;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  margin-bottom: 1.437rem;

  @include media-breakpoint-down(sm) {
    margin-bottom: 0.25rem;
  }

  span {
    color: $red;
  }

  p {
    margin-bottom: 0;
    background-color: $white;
    position: absolute;
    top: -14px;
    left: 14px;
    z-index: 2;
    padding: 0 12px;

    @include fontSize(14);
  }

  .wpcf7-list-item-label {
    color: $black;
    font-weight: 300;
    text-transform: none;

    @include fontSize(14);
  }
}

//checkbox
.wpcf7-acceptance {
  & .wpcf7-list-item {
    margin: 0 !important;

    @include media-breakpoint-only(lg) {
      max-width: 340px;
    }
  }

  label {
    display: block;
    margin-bottom: 15px;
    margin-left: 36px;
    margin-top: 12px;

    @include media-breakpoint-down(sm) {
      margin-bottom: -30px;
      padding-right: 30px;
    }

    input {
      display: none;
    }

    & .wpcf7-list-item-label {
      position: relative;
      cursor: pointer;
      display: block;
    }

    & .wpcf7-list-item-label::before {
      content: "";
      appearance: none;
      border: 1px solid $border;
      background-color: $white;
      width: 22px;
      height: 22px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 19px;
      margin-left: -37px;
      top: 0;
    }

    & input:checked + .wpcf7-list-item-label::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 14px;
      border: solid $primarycolor;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      left: -28px;
      top: 3px;
    }

    & input:checked + .wpcf7-list-item-label::before {
      border: 1px solid $border;
    }
  }

  a {
    color: $blue;
    text-decoration: underline;
  }
}

.wpcf7-not-valid-tip {
  margin-left: 0.18rem;
  margin-top: 0.625rem;

  @include fontSize(14);

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    margin-bottom: 1.25rem;
  }
}

.wpcf7-response-output {
  border: 1px solid $border !important;
  color: $red !important;
  text-transform: uppercase;

  @include fontSize(14);

  @include media-breakpoint-down(sm) {
    margin: 0 0.5em 1em !important;
  }
}
