body {
  font-family: $primaryfont;
  background: $white;
  color: $black;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: $white;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

#app {
  overflow: hidden;
}

.nolist {
  list-style: none;
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
  right: 0;
}

.container {
  max-width: 1400px;

  @include media-breakpoint-down(xl) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.bg-grey {
  background-color: $grey;
}

.fw-300 {
  font-weight: 300;
}

.w-100 {
  width: 100%;
}

.section {
  margin-top: 82px;

  @include media-breakpoint-down(lg) {
    margin-top: 56px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 30px;
  }
}
