body {
  font-family: $primaryfont;
  background: $white;
  color: $black;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: $white;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

#app {
  overflow: hidden;
}

.nolist {
  list-style: none;
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
  right: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  max-width: 1400px;

  @include media-breakpoint-down(xl) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.bg-grey {
  background-color: $grey;
}

.fw-300 {
  font-weight: 300;
}

.fw-700 {
  font-weight: 700;

  p {
    @extend .fw-700;
  }
}

.w-100 {
  width: 100%;
}

.w-60 {
  @include media-breakpoint-up(xl) {
    max-width: 60%;
  }

  @include media-breakpoint-only(lg) {
    max-width: 75%;
  }
}

.w-80 {
  @include media-breakpoint-up(xl) {
    max-width: 81%;
  }
}

.section {
  margin-top: 82px;

  @include media-breakpoint-down(lg) {
    margin-top: 56px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 30px;
  }
}

.border-radius-20 {
  border-radius: 20px;
}

.z-index-2 {
  z-index: 2;
}

.text-underline {
  text-decoration: underline;
}

.scroll-up {
  right: 30px;
  bottom: 10px;
  cursor: pointer;
  background-color: $black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  position: fixed;
  z-index: 9999;

  @include media-breakpoint-down(sm) {
    right: 30px;
  }
}
