h1,
h2,
h3,
h5 {
  font-weight: 900;
}

h4,
p {
  font-weight: 300;
  font-family: $primaryfont;
}

h1 {
  color: $primarycolor;
  text-transform: uppercase;
  margin-bottom: 0;

  @include fontSize(38);
  @include lineHeight(43);

  @include media-breakpoint-down(lg) {
    @include fontSize(32);
    @include lineHeight(36);
  }

  @include media-breakpoint-down(sm) {
    @include fontSize(24);
    @include lineHeight(27);
  }

  strong {
    color: $black;
  }
}

h2 {
  @include fontSize(24);
  @include lineHeight(27);

  @include media-breakpoint-down(lg) {
    @include fontSize(20);
    @include lineHeight(22);
  }

  @include media-breakpoint-down(sm) {
    @include fontSize(16);
    @include lineHeight(18);
  }

  strong {
    color: $primarycolor;
  }
}

.h2 {
  @include fontSize(32);
  @include lineHeight(36);

  @include media-breakpoint-down(lg) {
    @include fontSize(28);
    @include lineHeight(32);
  }

  @include media-breakpoint-down(sm) {
    @include fontSize(20);
    @include lineHeight(22);
  }
}

h3 {
  @include fontSize(20);
  @include lineHeight(22);
}

h4 {
  @include fontSize(20);
  @include lineHeight(26);

  @include media-breakpoint-down(sm) {
    @include fontSize(18);
    @include lineHeight(20);
  }
}

h5 {
  color: $text;

  @include fontSize(14);
  @include lineHeight(16);

  @include media-breakpoint-down(sm) {
    @include fontSize(16);
  }
}

p {
  @include fontSize(20);
  @include lineHeight(28);

  @include media-breakpoint-down(lg) {
    @include fontSize(16);
    @include lineHeight(24);
  }
}

.p-small {
  font-weight: 300;

  @include fontSize(16);
  @include lineHeight(24);

  p {
    @extend .p-small;
  }
}
