h1,
h2 {
  font-weight: 900;
}

h3,
h4,
h5,
p {
  font-weight: 300;
  font-family: $primaryfont;
}

h1 {
  color: $green;
  text-transform: uppercase;
  margin-bottom: 0;

  @include fontSize(38);
  @include lineHeight(43);

  @include media-breakpoint-down(lg) {
    @include fontSize(32);
    @include lineHeight(36);
  }

  @include media-breakpoint-down(sm) {
    @include fontSize(24);
    @include lineHeight(27);
  }

  strong {
    color: $black;
  }
}

h2 {
  @include fontSize(24);
  @include lineHeight(27);

  @include media-breakpoint-down(lg) {
    @include fontSize(20);
    @include lineHeight(22);
  }

  @include media-breakpoint-down(sm) {
    @include fontSize(16);
    @include lineHeight(18);
  }
}

h3 {
  @include fontSize(32);
  @include lineHeight(43);

  @include media-breakpoint-down(sm) {
    @include fontSize(20);
    @include lineHeight(32);
  }
}

h4 {
  @include fontSize(20);
  @include lineHeight(26);

  @include media-breakpoint-down(sm) {
    @include fontSize(18);
    @include lineHeight(20);
  }
}

h5 {
  @include fontSize(18);
  @include lineHeight(48);

  @include media-breakpoint-down(sm) {
    @include fontSize(16);
  }
}

p {
  @include fontSize(20);
  @include lineHeight(28);

  @include media-breakpoint-down(lg) {
    @include fontSize(16);
    @include lineHeight(24);
  }
}
