.header {
  background-color: $white;
  display: none;
  padding: 20px 0;
  border-bottom: 1px solid $border;

  @include media-breakpoint-up(lg) {
    &--sticky {
      display: block;
      position: fixed;
      width: 100%;
      z-index: 9;
    }
  }
}
